:root {
  // Palette
  --grad1: #002239;
  --grad2: #0b605f;
  --grad3: #58adac;
  --stripe: #fff1;

  --bg-contrast: #000a;
  --bg-contrast-text: #ccc;
  --bg-contrast-title: #b6b58e;

  --bg-highlight: #202237;
  --bg-highlight-text: #666;

  --bg-alert: #535670;
  --bg-alert: #402132;
  --bg-alert-text: #bfb5ba;

  // Dimensions
  --max-w: 960px;
  --icon-med: 24px;
  --icon-lg: 64px;

  // Typography
  --h1: 28px;
  --h2: 24px;
  --h3: 20px;
  --body: 16px;
}