:root {
  --grad1: #002239;
  --grad2: #0b605f;
  --grad3: #58ADAC;
  --stripe: #fff1;

  --bg-contrast: #000a;
  --bg-contrast-text: #ccc;
  --bg-contrast-title: #B6B58E;

  --icon-med: 24px;
}

html,
body {
  margin: 0;
}

body {
  --grad-img: linear-gradient(119deg, var(--grad1) 2%, var(--grad2) 82%);

  font-family: system-ui;
  background: var(--grad1) var(--grad-img) no-repeat;
  color: #ccc;
}

.unlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: none;
}

.copy {
  padding: 1rem;
}


/* App
------------------------------------------------------------------------------*/
.app {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-gap: 1rem;
  grid-template-areas:
      "nav"
      "header"
      "subheader"
      "content" 
      "sponsors"
      "footer";
  
  min-height: 100vh;

  @media (--mq-m) {
    grid-template-areas:
      "nav    nav       nav     nav"
      ".      header    content ."
      ".      subheader content ."
      ".      sponsors  content ."
      "footer footer    footer  footer";

    grid-template-columns: 1fr minmax(160px, 300px) minmax(460px, 660px) 1fr;
    grid-template-rows: auto auto auto 1fr auto;
  }
}

.app__controls {
  background: #000;
  color: #999;
}

.app__nav {
  grid-area: nav;

  padding: 0 0.5rem;
}

.app__title {
  margin: 0;
  font-weight: 100;
  font-size: var(--h2);
  color: #fff;
}

.app__nav__links {
  display: flex;
}

.app__nav__link {
  padding: 0.5rem 1rem;

  &:hover,
  &:target,
  &.active {
    background: #333;
    color: #fff;
  }
}

.app__footer {
  grid-area: footer;

  padding: 0.5rem;
  font-size: 0.8rem;
}

/* Page
------------------------------------------------------------------------------*/
.page {
  @media (--mq-m) {
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    max-height: 100%;
  }
}

.page__title {
  grid-area: header;

  padding: 0.25rem;
  border: 1px solid currentColor;
  border-left: none;
  border-right: none;

  @media (--mq-m) {
    position: sticky;
    top: 1rem;
  }
}

.page__content {
  grid-area: content;

  height: 100%;
  overflow-y: auto;
}

.page__content--bg {
  background: var(--bg-contrast);
  color: var(--bg-contrast-text);

  & a {
    color: var(--grad3);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

/* Content
------------------------------------------------------------------------------*/
.content__header {
  grid-area: subheader;

  background: var(--bg-contrast);
  color: var(--bg-contrast-text);
}

.content__hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 2rem 1rem 1rem;
  background: #202237;

  @media (--mq-m) {
    height: 200px;
    padding: 0.5rem;
  }
}

.content__hero__caption {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 0.8;
  color: #fffa;

  & span {
    display: block;
  }

  & em {
    color: var(--bg-contrast-title)
  }
}

.content__hero__date {
  margin-top: 0.5rem;
  font-size: 0.8;
  font-weight: 400;
}

/*
------------------------------------------------------------------------------*/
.talk {
  background: var(--bg-contrast);
  color: var(--bg-contrast-text);

  & + .talk {
    margin-top: 1rem;
  }
}

.talk__topic {
  padding: 0.65rem;
  border-bottom: 1px solid currentColor;
}

.talk__author {
  color: var(--bg-contrast-title);
}

.talk__title {
  display: block;
  font-style: italic;

  @media (--mq-m) {
    display: inline;
  }
}

.talk__content {
  padding: 1rem;
}

.talk__footer {
  padding: 0 1rem;
  color: #aaa;

  & details {
    padding: 1rem 0;
    border-top: 1px dotted #fff5;
  }
}

/* Sponsors
------------------------------------------------------------------------------*/
.sponsors {
  grid-area: sponsors;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  background: #fff8;

  @media (--mq-m) {
    align-self: end;
    justify-content: flex-start;

    position: sticky;
    bottom: 1rem;
  }
}

.sponsor {
  height: 40px;
  margin: 0.5rem;

  & img {
    height: inherit;
  }
}

.sponsor--cinema {
  height: 52px;
}

.sponsor--panorama {
  height: 24px;
}

/* Social
------------------------------------------------------------------------------*/
.social {
  display: flex;
}

.social__link {
  transition: 0.25s color;

  display: flex;
  align-items: center;

  margin-left: 0.5rem;
  /* color: #666; */

  &:hover {
    color: #ccc;
  }
}

.social__link__icon {
  --wh: calc(var(--icon-med) + 1rem);

  display: grid;
  place-content: center;

  width: var(--wh);
  height: var(--wh);
  border: 1px solid transparent;
  border-radius: 50%;

  @nest .social__link:hover & {
    border-color: #999;
  }

  & svg {
    stroke: currentColor;
    width: var(--icon-med);
    height: var(--icon-med);
  }
}

.social__link__label {
  position: relative;

  margin-left: -4px;
  padding: 0 5px;
  border: 1px solid transparent;
  border-left: none;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #000;
  z-index: 1;

  @nest .social__link:hover & {
    border-color: #999;
  }
}
