h3 {
  font-weight: 700;
}

.title, 
.subtitle {
  font-family: Lato, sans-serif;
}

.content__hero.content__hero--card {
  height: 360px;
  padding: 0;
  font-weight: 700;

  & a {
    padding: 1.8rem;
    background: #000a;
  }
}

.content__hero__caption {
  font-weight: 700;
}

#event-0 {
  --extra-sparkleNumber: 140;
  --extra-sparkleHue: 300;
  --extra-sparkleWidthVariance: 8;
  --extra-sparkleHeightVariance: 8;
  --extra-sparkleWeightVariance: 2;
  
  background-image: paint(extra-sparkles);
}

#event-1 {
  --extra-confettiNumber: 140;
  --extra-confettiWeightVariance: 8;
  --extra-confettiLengthVariance: 10;
  
  background-image: paint(extra-confetti);
}

#event-2 {
  --randots-tile-size:  2;
  --randots-fill-color:  #7ac7ff;
  --randots-starting-alpha:  0.0125;
  --randots-alpha-increment:  0.00125;
  --randots-starting-probability:  0.000625;
  --randots-probability-increment:  0.0025;

  --lines-tile-size: 48;
  --lines-color: #f0f;
  --lines-weight: 4;
  --lines-probability: 0.25;
  --lines-direction: 0;
  --lines-crosshatch: 1;
  
  --circles-tile-size: 32;
  --circles-colors: #e59eff #0094ff #ff8a7f;
  --circles-amplitude: 2.25;
  --circles-blend-mode: multiply;

  background-image: paint(circles);
}