* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background: #0a0c27;
  color: #ccc;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 4vmin;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.subtitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.doodle {
  display: grid;
  place-content: center;

  height: 100vh;
}

.logo {
  position: relative;
  margin: 0;
  padding: 0.5rem 1rem;
  border: var(--bw) solid var(--stripe-tint);
  background: #0a0c27;
}