.content__header {
  grid-area: header;

  @media (--mq-m) {
    position: sticky;
    top: 1rem;
  }

  & a {
    color: var(--bg-contrast-title);
  }

  & .register {
    --bg: #000a;
    --colour: var(--bg-contrast-title);

    transition: color 0.25s, background-color 0.25s;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1em;
    padding: 0.5rem 1rem;
    border: 1px solid var(--bg-contrast-title);
    text-decoration: none;
    background: var(--bg);
    color: var(--colour);

    & .icon {
      transition: transform 0.5s;
    }

    &:enter {
      --colour: #000a;
      --bg: var(--bg-contrast-title);

      & .icon {
        transform: translateX(0.5rem);
      }
    }
  }

  & .register__label {
    flex: 1 0 auto;
  }

  & .register--inactive {
    color: #888;
  }
}

.content__header__toc {
  font-size: 1.2rem;

  & ol {
    margin: 0;
    padding-left: 2rem;
    list-style-type: disc;
  }

  & > ol {
    list-style-type: lower-latin;
  }

  & a {
    text-decoration: initial;
    color: inherit;

    &:enter {
      text-decoration: underline;
      color: var(--bg-contrast-title);
    }
  }
}

.content__hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  min-height: 200px;
  padding: 2rem 1rem 1rem;
  background-color: var(--bg-highlight);

  @media (--mq-m) {
    padding: 0.5rem 1rem;

    &.content__hero--card {
      height: 322px;
    }
  }
}

.content__hero__caption {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1;
  color: #fffa;

  & span {
    display: block;
  }

  & em {
    color: var(--bg-contrast-title);
  }
}

.content__hero__date {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 200;
}