.form {
  display: grid;
  align-content: flex-start;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;

  margin-top: 1rem;

  & textarea {
    align-self: stretch;

    padding: 1rem;
    border: none;
    resize: none;
  }

  & button {
    margin: 0;
  }

  &.form--stretch {
    flex: 1;
  }
}