<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"/>
    <link rel="alternate" type="application/rss+xml" title="London CSS Events" href="/rss.xml"/>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url" content="{{ pkg.homepage }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="{{ pkg.homepage }}/static/images/card.svg"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:image" content="{{ pkg.homepage }}/static/images/card.svg"/>

    {%- set css_static -%}
    {% include "css/reset.css" %}
    {%- endset %}

    {%- set css_app -%}
    {% include "css/typography.css" %}
    {% include "css/app.css" %}
    {%- endset %}
    
    <style>
      {{css_static | postcss | safe}}
      {{css_app | postcss | safe}}
    </style>
  </head>

  <body class="menu-closed">
    <super-mannerist></super-mannerist>
    <div class="app">
      <nav class="app__controls app__nav title">
        <div class="container row">
          <h1 class="app__title"><a href="/">London CSS</a></h1>          
          <div class="app__links">
            <button class="app__links__togglebtn" data-click="menu-toggle">
              <div class="togglebtn__body">
                <svg class="icon" aria-hidden="true">
                  <use href="#icon-menu"/>
                </svg>
                <span class="title">Menu</span>
              </div>
            </button>
            {%- for p in collections.pages -%}
              <a href="{{p.url}}" class="app__link {% if page.url == p.url %}active{% endif %}">
                {{p.data.title}}
              </a>
            {%- endfor -%}
          </div>
        </div>
      </nav>

      {{ content | safe }}

      <aside class="sponsors">
        <p class="title">Proudly sponsored by</p>
        <div class="sponsor__list">
          <a href="https://samsunginter.net" class="sponsor sponsor--cinema">
            <img src="/static/images/logos/silogo.svg" alt="Samsung Internet logo">
          </a>
        </div>
      </aside>

      <footer class="app__controls app__footer title">
        <div class="container row">
          <p>©2019 London CSS</p>
          <div class="social">
            <a class="social__link" href="mailto:hello@londoncss">
              <span class="social__link__icon" aria-hidden="true">
                <svg>
                  <use href="#icon-email"/>
                </svg>
              </span>
              <span class="social__link__label">Email</span>
            </a>
            <a class="social__link" href="https://twitter.com/londoncss">
              <span class="social__link__icon" aria-hidden="true">
                <svg>
                  <use href="#icon-twitter"/>
                </svg>
              </span>
              <span class="social__link__label">Follow</span>
            </a>
            <a class="social__link" href="https://github.com/LondonCSS/website/tree/master/{{ page.inputPath }}">
              <span class="social__link__icon" aria-hidden="true">
                <svg>
                  <use href="#icon-github"/>
                </svg>
              </span>
              <span class="social__link__label">Source</span>
            </a>
          </div>
        </div>
      </footer>
    </div>

    {% include "partials/supermannerist.njk" %}
    {% include "partials/icons.njk" %}

    <script type="module" src="{{ '/script/index.mjs' | url }}"></script>
    <script src="{{ '/script/sw.js' | url }}"></script>
  </body>
</html>