<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"/>
    <link rel="alternate" type="application/rss+xml" title="London CSS Events" href="/rss.xml"/>

    <meta property="og:url" content="{{ url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="{{ url }}/images/favicon.png"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:image" content="{{ url }}/images/favicon.png"/>

    <link rel="stylesheet" href="/styles/reset.css"/>

    {%- set css -%}
    {% include "css/typography.css" %}
    {% include "css/app.css" %}
    {%- endset %}
    <style>
      {{css | postcss | safe}}
    </style>
  </head>

  <body>
    <super-mannerist></super-mannerist>
    <div class="app">
      <nav class="app__controls app__nav title">
        <div class="container row">
          <h1 class="app__title"><a href="/">London CSS</a></h1>          
          <div class="app__nav__links">
            {%- for p in collections.pages -%}
              <a href="{{p.url}}" class="app__nav__link {% if page.url == p.url %}active{% endif %}">
                {{p.data.title}}
              </a>
            {%- endfor -%}
          </div>
        </div>
      </nav>

      {{ content | safe }}

      <aside class="sponsors">
        <p class="title">Proudly sponsored by</p>
        <div class="sponsor__list">
          <a href="#" class="sponsor sponsor--cinema">
            <img src="/static/images/logos/silogo.svg" alt="Samsung Internet logo">
          </a>
        </div>
      </aside>

      <footer class="app__controls app__footer title">
        <div class="container row">
          <p>©2019 London CSS</p>
          <div class="social">
            <a class="social__link" href="https://twitter.com/londoncss">
              <span class="social__link__icon">
                <svg role="img">
                  <title>Twitter Logo</title>
                  <use href="#icon-twitter"/>
                </svg>
              </span>
              <span class="social__link__label">Tweet!</span>
            </a>
            <a class="social__link" href="https://github.com/LondonCSS/website/tree/master/{{ page.inputPath }}">
              <span class="social__link__icon">
                <svg role="img">
                  <title>Github Logo</title>
                  <use href="#icon-github"/>
                </svg>
              </span>
              <span class="social__link__label">Source</span>
            </a>
            {#
            <a class="social__link" href="/rss.xml">
              <span class="social__link__icon">
                <svg role="img" class="icon">
                  <title>Feed</title>
                  <use href="#icon-rss"/>
                </svg>
              </span>
              <span class="social__link__label">Subscribe</span>
            </a>
            #}
          </div>
        </div>
      </footer>
    </div>

    {% include "partials/supermannerist.njk" %}
    {% include "partials/icons.njk" %}

    <script type="module" src="{{ '/script/index.mjs' | url }}"></script>
  </body>
</html>