<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"/>

    <meta property="og:url" content="{{ url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="{{ url }}/images/favicon.png"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:image" content="{{ url }}/images/favicon.png"/>

    <link rel="stylesheet" href="{{ url }}/styles/styles.css">
  </head>

  <body>
    <super-mannerist></super-mannerist>
    <div class="app">
      <header class="app__controls app__header title">
        <div class="container row">
          <a href="/">
            <h1 class="app__title">London CSS</h1>
          </a>
          <nav class="app__nav">
            <a href="/about-us" class="app__nav__link">About Us</a>
            <a href="/code-of-conduct" class="app__nav__link">
              Code of Conduct
            </a>
          </nav>
        </div>
      </header>

      <div class="app__content">
        {{ content | safe }}
      </div>
      <div class="app__sidebar"></div>

      <footer class="app__controls app__footer title">
        <div class="container row">
          <p>©2019 London CSS</p>
        </div>
      </footer>
    </div>

    <template id="super-mannerist">
      <link rel="stylesheet" href="/styles/supermannerist.css"/>
      <div class="sm">
        <div class="sm__container">
          <div class="sm__stripes sm__stripes--a">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
          <div class="sm__stripes sm__stripes--b">
            <i></i>
            <i></i>
          </div>
          <div class="sm__stripes sm__stripes--c">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
          <div class="sm__stripes sm__stripes--d">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
        </div>
      </div>
    </template>

    <script type="module" src="{{ '/script/index.mjs' | url }}"></script>
  </body>
</html>