---
layout: "layouts/base.njk"
---

{% from "partials/event-header.njk" import header as eventHeader  %}
{% from "partials/event-talk.njk" import talk as eventTalk  %}

{{ eventHeader(title, subtitle, description, event) }}

<div class="page__content">
  <section class="talks">
    {%- for talk in talks %}
      {{ eventTalk(talk) }}
    {%- endfor %}
  </section>
</div>