:root {
  --bloo: #b36305;
  --cent: #e32017;
  --circ: #ffd300;
  --dist: #00782a;
  --dlr: #00a4a7;
  --hsmith: #f3a9bb;
  --jubi: #a0a5a9;
  --metro: #9b0056;
  --nthrn: #000000;
  --overg: #ee7c0e;
  --picc: #003688;
  --tram: #84b817;
  --vict: #0098d4;
  --wloo: #95cdba;

  --grad1: #002239;
  --grad2: #0b605f;
  --grad3: #58ADAC;
  --stripe: #fff1;

  --icon-med: 24px;
}

html,
body {
  margin: 0;
}

body {
  --grad-img: linear-gradient(119deg, var(--grad1) 2%, var(--grad2) 82%);

  font-family: system-ui;
  background: var(--grad1) var(--grad-img) no-repeat;
  color: #ccc;
}

.unlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: none;
}

.app__controls {
  background: #000;
  color: #999;
}

.app {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-gap: 1em;
  grid-template-areas:
      "nav"
      "header"
      "content" 
      "sponsors"
      "footer";
  
  min-height: 100vh;

  @media (--mq-m) {
    grid-template-areas:
      "nav    nav      nav     nav"
      ".      header   content ."
      ".      sponsors content ."
      "footer footer   footer  footer";

    grid-template-columns: 1fr minmax(160px, 300px) minmax(460px, 660px) 1fr;
    grid-template-rows: auto 1fr auto;

    height: 100vh;
    overflow: hidden;
  }
}

.app__nav {
  grid-area: nav;

  padding: 0 0.5rem;
}

.app__title {
  margin: 0;
  font-weight: 100;
  font-size: var(--h2);
  color: #fff;
}

.app__nav__links {
  display: flex;
}

.app__nav__link {
  padding: 0.5em 1em;

  &:hover,
  &:target,
  &.active {
    background: #333;
    color: #fff;
  }
}

.app__content {
  grid-area: content;
  overflow-y: auto;
}

.page {
  @media (--mq-m) {
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    max-height: 100%;
  }
}

.app__header {
  grid-area: header;
}

.page__title {
  padding: 0.25em;
  border: 1px solid currentColor;
  border-left: none;
  border-right: none;
}

.page__content {
  height: 100%;
  overflow-y: auto;
}

.page__content--bg {
  padding: 1em;
  background: #000a;
  color: #ccc;

  & a {
    color: var(--grad3);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.app__footer {
  grid-area: footer;

  padding: 0.5rem;
  font-size: 0.8em;
}

.sponsors {
  grid-area: sponsors;
  align-self: end;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0.5em;
  background: #fff8;

  @media (--mq-m) {
    justify-content: flex-start;
  }
}

.sponsor {
  height: 40px;
  margin: 0.5em;

  & img {
    height: inherit;
  }
}

.sponsor--cinema {
  height: 52px;
}

.sponsor--panorama {
  height: 24px;
}

.social {
  display: flex;
}

.social__link {
  transition: 0.25s color;

  display: flex;
  align-items: center;

  margin-left: 0.5em;
  color: #666;

  &:hover {
    color: #ccc;
  }
}

.social__link__icon {
  --wh: calc(var(--icon-med) + 1em);

  display: grid;
  place-content: center;

  width: var(--wh);
  height: var(--wh);
  border: 1px solid transparent;
  border-radius: 50%;

  @nest .social__link:hover & {
    border-color: #999;
  }

  & svg {
    stroke: currentColor;
    width: var(--icon-med);
    height: var(--icon-med);
  }
}

.social__link__label {
  position: relative;

  margin-left: -4px;
  padding: 0 5px;
  border: 1px solid transparent;
  border-left: none;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #000;
  z-index: 1;

  @nest .social__link:hover & {
    border-color: #999;
  }
}
