:root {
  --h1: 28px;
  --h2: 24px;
  --h3: 20px;
  --body: 16px;
}

h1,
h2,
h3,
h4 {
  font-size: var(--h, 16px);
  margin: 0;

  @nest p + & {
    margin-top: 1em;
  }
}

h1 {
  --h: var(--h1);

  font-weight: 400;
}

h2 {
  --h: var(--h2);

  font-weight: 400;
}

h3 {
  --h: var(--h3);

  font-weight: 600;
}

h4 {
  font-weight: 800;
}

a {
  text-decoration: none;
}

p {
  margin: 0;

  @nest p + & {
    margin: 1em 0 0 0;
  }
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.subtitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
