---
tags: 
  - "events"
title: "London CSS August"
description: "Join us for an evening full of CSS best practices, new technologies and discussions with other frontend developers passionate about CSS. Beers and pizzas will be provided by our amazing host, Badoo."
layout: "layouts/event.njk"
event: 
  registerUrl: https://www.meetup.com/London-CSS-Meetup/events/232745951/
  date: "2016-08-16"
host: 
  name: "Badoo"
  website: https://twitter.com/badootech
notices:
talks: 
  - 
    speaker: 
      name: Konstantin Dzuin
      twitter: kdzuin
    presentation: 
      title: The Magic of the Infinite Scroller
      content: |
        At Badoo we face many technical challenges on a daily basis. One of the challenges I'm going to talk about is our solution to how we showed a large number of users on a single page. Currently there are a lot of solutions to this on the market but none of them suited our needs. We wanted a balance between maintainability and the-best-technical-idea-ever! Our solution was our version of the infinite scroll - let the browser do all the magic, while we relax with a coffee. During this talk I will be focusing on the idea, some of the technical details and the highlights of our implementation.
  - 
    speaker: 
      name: Inayaili de León Persson
      twitter: yaili
    presentation: 
      title: 8 things I learned from building a pattern library
      content: |
        There's no question about the importance of having your own pattern library. But there are some key aspects to building one that aren't so often discussed. I will share 8 tips that I've learned through building the Ubuntu Vanilla Framework that can make your own projects run a little bit more smoothly.
  - 
    speaker: 
      name: Oliver Turner
      twitter: oliverturner
    presentation: 
      title: CSS Modules in the Real World
      content: |
        In this talk, we're going to take a look at the pros and cons of using CSS Modules in production. That will include a very brief refresher on the what and why of CSS Modules, explanation of how to implement them server-side (sans Webpack!) and implications of using them in a team environment.

---