---
tags:
  - "events"
title: "London CSS November"
description: "Join us for our final event of the year, an evening full of CSS best practices, new technologies and discussions with other frontend developers passionate about CSS. Beers and pizzas will be provided by our amazing host, Badoo (https://twitter.com/badootech)."
event:
  registerUrl: "https://www.meetup.com/London-CSS-Meetup/events/234913062/"
  date: "2016-11-24"
host:
  name: "Badoo"
  website: https://twitter.com/badootech
notices:
talks:
  - 
    speaker: 
      name: Cristiano Rastelli
      twitter: areaweb
    presentation: 
      title: "Style Guides, Pattern Libraries, Design Systems and other amenities."
      content: |
        Style guides and component libraries are the new trend in front-end development. Everyone is into "Atomic Design" and "Modular CSS" nowadays. But how did we get to this “hype”, and why? What is a style guide, what is its value and where are the benefits of introducing one in a project? And are them useful only for the web, or can be employed by other platforms too? I'll try to give an answer to all these questions in this presentation – directed to designers, web developers but also iOS/Android/Win developers – and I'll show how our Mobile Web team in Badoo has developed his first style guide and how is using it to catch bugs and create a shared pattern library.
  - 
    speaker: 
      name: Harry Roberts
      twitter: csswizardry
    presentation: 
      title: Refactoring CSS Without Losing Your Mind
      content: |
        Working with CSS is tricky enough as it is; working with legacy CSS can be nightmarish. In this talk, we’ll look at how we decide what to refactor and when; how we can refactor code whilst still shipping features; how to avoid regressions when adding new CSS; how we can avoid the dreaded refactoring tunnels; running new and legacy code in tandem; and a bunch of other neat little tips and tricks.

---