---
tags: 
  - "events"
title: "London CSS September"
description: "Join us for an evening full of CSS best practices, new technologies and discussions with other frontend developers passionate about CSS."
event: 
  registerUrl: https://www.meetup.com/London-CSS-Meetup/events/233623215/
  date: "2016-09-20"
host: 
  name: "Ticketmaster"
  website: http://www.ticketmaster.co.uk/
notices:
talks: 
  - 
    speaker: 
      name: Arran Ross-Paterson 
      twitter: arranrp
    presentation: 
      title: "Designing for touch"
      content: |
        Arran will be giving an introduction to designing for touch UI’s, discussing designing for different users and contexts. The accessibility and usability concerns this raises and possible solutions and ideas around implementation.
  - 
    speaker: 
      name: Adam Onishi
      twitter: onishiweb
    presentation: 
      title: Planes, trains, and CSS components
      content: |
        The way we’re meant to be writing CSS appears to be in constant flux! What’s the safest route? Do we go for just writing vanilla CSS - is this the simplest and thus the safest? What about pre-processors like Sass or LESS? Or, do we look for more adventure with off-road vehicles like JavaScript or Web Components?
        
        Join us as Adam takes you on a journey through these different techniques for creating components. We’ll tackle all the bumps in the road head-on and fly straight into the eye of the storm, as we loop and swerve around development opinions.
        
        The best thing about this journey, is we’ll see what it takes to engineer a component system for a large organisation. Using the best techniques available to us, both old and new. Ensuring styles are reusable, transferable, and easy to use across a variety of teams and products.

---