---
tags: 
  - "events"
title: "London CSS Meetup June"
description: "Long time, no see! After a long hiatus, we are back for some CSS goodness.

You might have noticed that we are not longer called London Sass! Don't worry though, Sass is still on the agenda. The CSS ecosystem is constantly growing and evolving; we now have PostCSS, CSS Modules, CSS variables and so on. London Sass has always touched topics outside of Sass landscape and we felt the existing name was confusing and misleading so we decided to adopt the London CSS name.

This month Badoo has kindly offered to sponsor the event and will both host and provide food and drinks."
event: 
  registerUrl: https://www.meetup.com/London-CSS-Meetup/events/231967780/
  date: "2016-06-28"
host: 
  name: "Badoo"
  website: https://twitter.com/badootech
notices:
talks: 
  - 
    speaker: 
      name: Razvan Spatariu
      twitter: razvanspatariu
    presentation: 
      title: DIY Golden Ratio Grid System using Sass
      content: |
        The journey of implementing a grid system (based on the golden ratio) that is more complex than your usual 12/16/24 columns grid. The presentation is about the struggles of building smart CSS by taking a programatic approach to Sass with the goal of offering a grid system that’s easy to use by full-stack developers. We will go through the why, the how, the advantages / disadvantages and the findings after using this in production.
  - 
    speaker: 
      name: Miltiadis Bouchalakis
    presentation: 
      title: Generating fully customisable grids with SUSY
      content: |
        Susy is a layout engine. It provides you with the tools to build a custom grid framework or fully customisable grids that match the custom needs of your website. This gives you the flexibility and freedom to play with your design while SUSY does the math for you.

        In this talk we are going to explore how to create grids by using SUSY mixins with the aim of promoting clean and semantic markup. Moreover we will try to build a customisable grid component for your site with the help of SUSY, sass mixins and functions in order to break free from bootstrap or foundation grids if you want so. I will share a github repo where you can download and use it for your projects after this talk.
---