---
tags: 
  - "events"
title: "London Sass February"
description:  
          "London Sass is back! This year Sass will still be our main focus but we will also try to cover other tools, techniques and everything else related to the CSS ecosystem.
          We'll have some drinks and pizzas ready to get the conversation going.
          We also have two exciting speakers ready to share their experiences of working with pattern libraries and atomic CSS."
layout: "layouts/event.njk"
event: 
  registerUrl: https://www.meetup.com/London-CSS-Meetup/events/228370052/
  date: "2016-02-16"
host: 
  name: "Funding Circle"
  website: https://www.fundingcircle.com/uk
notices:
talks: 
  - 
    speaker: 
      name: Tammie Lister
      twitter: karmatosed
    presentation: 
      title: Thinking in patterns
      content: |
        Humans think in patterns. Language is broken down into patterns. Design is a language. When we start thinking in patterns, we start being able to make sense of our design process. Patterns make sense to us. I’ll show how patterns make sense to us. How patterns create logical, optimised, sensible workflows.
  - 
    speaker: 
      name: Richard Bray
      twitter: ceiga
    presentation: 
      title: The benefits of Atomic CSS
      content: |
        As CSS gets more complicated with pre and post processors, making minor tweaks to a stylesheet is becoming more of a daunting task. This talk will focus on using atomic classes to make simple edits to the styles and better structuring your CSS with the help of reusable classes.
---