---
tags: 
  - "events"
title: "London CSS October"
description: "Join us for an evening full of CSS best practices, new technologies and discussions with other frontend developers passionate about CSS."
event: 
  registerUrl: https://www.meetup.com/London-CSS-Meetup/events/234499796/
  date: "2016-10-19"
host: 
  name: "Funding Circle"
  website: https://www.fundingcircle.com/uk
notices:
talks: 
  - 
    speaker: 
      name: Joseph Shambrook
      twitter: J_se_h
    presentation: 
      title: "A Brief History of Grids"
      content: |
        Creating layouts are one of the core and most common components of CSS, and Flexbox is finally getting the usage it deserves. To understand the features of Flexbox and why it's such a relief, we'll journey back to the other older ways of creating web page layouts, whilst previewing the future too.
  - 
    speaker: 
      name: Jonathan Fielding
      twitter: JonthanFielding
    presentation: 
      title: Separating your concerns in CSS
      content: |
        CSS frameworks are incredibly popular due to how easy it is to start a new project but they can cause us problems down the road. Lets look at the problems they cause and consider an alternative approach to frameworks which focuses on how we can not only start a new project quickly but also continue to maintain them into the future.

---