---
tags: 
  - "events"
title: "London CSS March"
description: "CSS Meetup March is here! Join us for an evening full of CSS best practices, new technologies and discussions with other frontend developers passionate about CSS. Beers and pizzas will be provided by our amazing host, Funding Circle (https://fundingcircle.com/uk/)."
layout: "layouts/event.njk"
event: 
  registerUrl: https://www.meetup.com/London-CSS-Meetup/events/237931643/
  date: "2017-03-23"
host: 
  name: "Funding Circle"
  website: https://fundingcircle.com/uk/
notices:
talks: 
  - 
    speaker: 
      name: Razvan Spatariu
      twitter: RazvanSpatariu
    presentation: 
      title: Mistakes were made
      content: |
        In the last 2 year we've been working on our internal styleguide / pattern library for Funding Circle. During that time we've made many mistakes. The presentation aims to showcase some of those mistakes and our solutions / plans to fix them.
---