---
tags: 
  - "events"
title: "London CSS April"
description: "CSS Meetup April is here! Join us for an evening full of CSS best practices, new technologies and discussions with other frontend developers passionate about CSS. Beers and pizzas will be provided by our amazing host, Pusher (https://pusher.com/)."
layout: "layouts/event.njk"
event: 
  registerUrl: https://www.meetup.com/London-CSS-Meetup/events/239110033/
  date: "2017-04-25"
host: 
  name: "Pusher"
  website: https://pusher.com/
  address: |
    28 Scrutton St,\ 
    London EC2A 4RP,\ 
    UK
notices:
talks: 
  - 
    speaker: 
      name: Matteo Pescarin
      twitter: ilpeach
    presentation: 
      title: Designing for the web
      content: |
        Healthy practices for developers and designers, in other words common mistakes and problems on front end design/development and a bunch of solutions on how to address these problems.
  - 
    speaker: 
      name: Patrick Hamann
      twitter: patrickhamann
    presentation: 
      title: CSS and the first meaningful paint
      content: |
        To render a webpage, browsers need to go through the complex dance of networking, parsing and painting before any content can be displayed to your user. Over the years, we've developed mechanisms and hacks to aid the browser at each stage of this process, but these have always come at some cost or trade-off. In this talk we will take a journey exploring the current, past, and future best-practices for loading CSS in the browser and how we can achieve a first meaningful paint within 1000ms. Ultimately creating a faster, more resilient experience for our users.

---