---
tags: 
  - "events"
title: "London CSS February"
description: "CSS Meetup February is here! Join us for an evening full of CSS best practices, new technologies and discussions with other frontend developers passionate about CSS. Beers and pizzas will be provided by our amazing host, Badoo (https://twitter.com/badootech)."
layout: "layouts/event.njk"
event: 
  registerUrl: https://www.meetup.com/London-CSS-Meetup/events/237605327/
  date: "2017-02-21"
host: 
  name: "Badoo"
  website: https://twitter.com/badootech
notices:
talks: 
  - 
    speaker: 
      name: Richard Hallows
      website: http://richardhallows.com/
    presentation: 
      title: An introduction to PostCSS and stylelint
      content: |
        In this talk we'll look at how PostCSS is being used to build a variety of CSS tools; from linters to minifiers and everything in-between. I'll show how you can use PostCSS to make your own tools. Tools that address your specific needs. In the second half of the talk, I'll introduce stylelint, a modern CSS linter powered by PostCSS. I'll outline a few of its features, how it can improve code quality, and how it can be configured to support your choice of CSS methodology (BEM, CSS Modules etc).
  - 
    speaker: 
      name: Marco Cedaro
      twitter: cedmax
    presentation: 
      title: Components, patterns and sh*t it’s hard to deal with or… How I came up with a good use of quotes from Lost in Translation.
      content: |
        A brief run through a few ways of handling flexibility when it comes to patterns and components: modular architectures are hard and defined patterns need to express the right level of flexibility not to defy the point of a pattern library at all.

---