---
tags: 
  - "events"
title: "London CSS January"
description: "Happy New Year everyone! We're back! Join us for the first event of 2017 for an evening full of CSS best practices, new technologies and discussions with other frontend developers passionate about CSS. Beers and pizzas will be provided by our amazing host, Badoo (https://twitter.com/badootech)."
event: 
  registerUrl: https://www.meetup.com/London-CSS-Meetup/events/236976721/
  date: "2017-01-25"
host: 
  name: "Badoo"
  website: https://twitter.com/badootech
notices:
talks: 
  - 
    speaker: 
      name: Ollie Williams
    presentation: 
      title: "Getting Good at Grid: Modern CSS Layout"
      content: |
        Using a grid system is essential for ensuring a web-page has a sense of proportion, balance and alignment. Float-based third-party grids like Bootstrap are set to be made obsolete with the fast-approaching browser support for the CSS grid module. In this talk, we'll look at using this native CSS grid today by utilising the philosophy of progressive enhancement and fallbacks.
  - 
    speaker: 
      name: Cristiano Rastelli
    presentation: 
      title: Let there be peace on CSS
      content: |
        In the last few months, there's been a growing friction between those who see CSS as an untouchable layer in the "separation of concerns" paradigm, and those who have simply ignored this golden rule and found different ways to style the UI, typically applying CSS styles via JavaScript.
        This debate is getting more and more intense, fiery and harsh every day, bringing division in a community that used to be immune to this kind of “wars”.
        Is there anything practical that we can do, here and now, to stop it?
        This talk will be my attempt to bring peace between the two fronts, help these two opposite factions to understand and listen to each other, see the counterpart's points of views, find the good things they have in common, and learn something from that.

---