---
tags: 
  - "events"
  - "eventCurrent"
title: "Event 3"
subtitle: "2020 vision"
description: |
  Please join us [ONLINE](https://meet.google.com/xvd-vrzz-wem) for another evening of talks!
layout: "layouts/event.njk"
event:
  registerUrl: "https://www.eventbrite.co.uk/e/london-css-march-2020-registration-95887400797"
  date: "2020-03-12"
notices:
  -
    title: "COVID-19 update 2"
    level: "alert"
    date: "2020-03-11"
    content: |
      Please join us online at
      
      [https://meet.google.com/xvd-vrzz-wem](https://meet.google.com/xvd-vrzz-wem)
      
      from 18:30 tomorrow

      Thanks to all our speakers for pulling together on this: can't wait for the awesome power of technology to bring us together for some more spectacular talks!
  -
    title: "COVID-19 update 1"
    level: "alert"
    date: "2020-03-11"
    content: |
      Unfortunately the ongoing health situation means we have to cancel our in-person event. We’re really sorry about the inconvenience this may cause. 

      Instead, we are aiming to provide a remote session. Full details on how to attend will be published as soon as possible: please keep an eye on Twitter at [@LondonCSS](https://twitter.com/londoncss) for more information and reach out there or by [email](mailto:hello@londoncss.dev) out if you have any questions.
talks: 
  - 
    speaker: 
      name: Sam Sneddon
      twitter: gsnedders
      bio: |
        Sam Sneddon has spent a decade working on web browsers trying to make them better. While their work has centred on building infrastructure to help browser developers ensure interoperability of their product, they've also long been around a number of standards groups, including the CSS WG.
    presentation: 
      title: "Getting Involved with Web Standards"
      content: |
        Web standards can seem intimidating to outsiders, as there are many avenues, and it’s easy to feel like an imposter or not experienced enough when there tends to be so many browser developers around. 
        
        In this talk, I’ll explain where and how to usefully contribute, and how to do so comfortably.
  - 
    speaker: 
      name: Rowan Manning
      twitter: rowanmanning
      bio: |
        Rowan is a Principal Engineer at the Financial Times, and head of the Origami team who build and maintain components. His background is mostly in Front End, and he’s spent 12 years championing accessibility and progressive enhancement across agencies, startups, and large organisations.

        Rowan is the original author of [Pa11y](https://pa11y.org/), an accessibility testing tool – he spent a large part of his career working too hard on open source. Nowadays he’s better at managing work/life balance, and is more likely to be found playing D&D than coding outside of office hours.
    presentation: 
      title: How to Steer An Oil Tanker
      content: |
        [Origami](https://origami.ft.com/) is the Financial Times’ component system, and it’s been going strong for around six and a half years. In this talk I’ll cover the challenges my team faces maintaining 50+ components and 6 web-services, and how we ensure that our work continues to be relevant in an ever-changing tech landscape.
  - 
    speaker: 
      name: Glen Maddern
      twitter: glenmaddern
      bio: |
        Glen Maddern is an independent front-end web developer, consultant & educator. He's the co-creator of Frontend Application Bundles, Styled Components & CSS Modules, co-founder of Linc and creator of Frontend Center, and was an organiser of CSSConf AU & JSConf AU.
    presentation: 
      title: Subatomic Styled Components
      content: |
        One of the interesting and under-explored avenues CSS-in-JS opens up is the ability to experiment with wholly new styling constructs, rather than simply transferring ideas & techniques from CSS to a new ecosystem.

        I've been tinkering with the idea of "traits" -- a kind of "subatomic" styling -- for several years, but never really shared it beyond colleagues. I've experimented with versions of it in Sass, CSS modules, Styled Components & React Native, and while the implementations are all a little different, the concept seems to be working well.

        I'll be talking about the concept, how it's evolved, how it relates to popular CSS-native techniques like Tachyons/Tailwind, and how you can try it out yourself!
---
