---
tags: 
  - "events"
  - "eventCurrent"
title: "Event 4"
subtitle: "End of summer"
description: |
  Please join us online for another evening of talks! More details soon.
layout: "layouts/event.njk"
notices:
  - 
    title: "Online events until further notice"
    level: "alert"
    content: |
      This website is where we will share more details for our upcoming events.
talks: 
  - 
    speaker: 
      name: Speakers to be announced soon
---

