---
tags: 
  - "events"
  - "eventCurrent"
title: "Event 5"
subtitle: "Holidays on Ice"
description: |
  Join us to close out the year with a truly global perspective on the ways that CSS is evolving
layout: "layouts/event.njk"
event:
  available: false
  registerUrl: "https://live.remo.co/e/london-css-holidays-on-ice"
  date: "2020-12-10"
talks: 
  - 
    speaker: 
      name: Stephanie Stimac
      twitter: seaotta
      bio: |
        Stephanie is a Design Technologist and Program Manager for Microsoft Edge Developer Experiences. Her design and program management work has been focused on improving the tools developers use to build for the web, including the browser developer tools and the open source project [webhint.io](http://webhint.io/), which she was the lead designer for. She is passionate about web standards and the open web. She co-leads The Web We Want initiative to help drive the web platform forward.
    presentation: 
      title: "Standardizing Select: What the future holds for HTML Controls"
      content: |
        Native HTML Form Controls can be some of the most painful elements to style and customize. 25 years after the first HTML Standard introduced them and developers have resorted to building custom controls from scratch to achieve what they need to. I’ll discuss the history behind native form controls, where we’re at presently with using CSS to style them and take a look at the proposed solutions by standards groups and browser vendors to standardize controls and solve the pain points developers have been complaining about for years.
  -
    speaker:
      name: Sid
      twitter: siddharthkp
      bio: |
        Sid is a frontend developer passionate about developer tooling. He currently splits his time between building UI at codesandbox and exploring better frontend tooling with ui-devtools. 

        He liked to play football in the "before times" and has a new found appreciation for long walks in nature.
    presentation:
      title: "Designing in the browser... wait, not like that!"
      content: |
        CSS is a visual styling language which we author with text/code. While code is the most flexible way, sometimes, it feels like we're on the wrong abstraction level.

        It wasn't always like that though. And I hope it doesn't stay that way forever. Let's talk about the past, the present and the great renaissance that is upon us.
---

