---json
{
  "tags": ["events"],
  "title": "Events",
  "layout": "layouts/base.njk",
  "event": {
    "title": "Event 2",
    "subtitle": "Parte deux",
    "date": "2019-08-08",
    "description":
      "Please join us at [LendInvest](https://www.lendinvest.com/) for the next instalment of [London CSS](https://twitter.com/LondonCSS) with talks from these amazing speakers... \n"
  },
  "host": {
    "name": "LendInvest",
    "website": "https://www.lendinvest.com/",
    "address": "Two Fitzroy Place, 8 Mortimer Street, Fitzrovia, London W1T 3JJ",
    "location": { "lat": 51.5187082, "long": -0.1379895 }
  },
  "talks": [
    {
      "speaker": {
        "name": "Heydon Pickering",
        "twitter": "heydonworks",
        "bio":
          "Heydon is a freelance web accessibility consultant, interface designer and writer.\n\nHeydon writes and edits for Smashing Magazine and works with leading web accessibility specialists, The Paciello Group, focusing on accessible User Experience Design (UX)."
      },
      "presentation": {
        "title": "As yet unknown",
        "content":
          "Soon to be revealed"
      }
    }
  ]
}
---
{% include "partials/event.njk" %}