---
tags: 
  - "events"
  - "eventCurrent"
title: "Event 3"
subtitle: "2020 vision"
description: |
  Please join us on our brand new [Twitch channel](https://www.twitch.tv/londoncss) for another evening of talks!
layout: "layouts/event.njk"
event:
  registerUrl: "https://www.eventbrite.co.uk/e/london-css-march-2020-registration-95887400797"
  date: "2020-03-12"
notices:
  - 
    title: "COVID-19 update 3"
    level: "alert"
    date: "2020-03-12"
    content: |
      ATTENTION: Please join us TODAY at 18:30 at [www.twitch.tv/londoncss](https://www.twitch.tv/londoncss)
talks: 
  - 
    speaker: 
      name: Sam Sneddon
      twitter: gsnedders
      bio: |
        Sam Sneddon has spent a decade working on web browsers trying to make them better. While their work has centred on building infrastructure to help browser developers ensure interoperability of their product, they've also long been around a number of standards groups, including the CSS WG.
    presentation: 
      title: "Getting Involved with Web Standards"
      content: |
        Web standards can seem intimidating to outsiders, as there are many avenues, and it’s easy to feel like an imposter or not experienced enough when there tends to be so many browser developers around. 
        
        In this talk, I’ll explain where and how to usefully contribute, and how to do so comfortably.
  - 
    speaker: 
      name: Glen Maddern
      twitter: glenmaddern
      bio: |
        Glen Maddern is an independent front-end web developer, consultant & educator. He's the co-creator of Frontend Application Bundles, Styled Components & CSS Modules, co-founder of Linc and creator of Frontend Center, and was an organiser of CSSConf AU & JSConf AU.
    presentation: 
      title: Subatomic Styled Components
      content: |
        One of the interesting and under-explored avenues CSS-in-JS opens up is the ability to experiment with wholly new styling constructs, rather than simply transferring ideas & techniques from CSS to a new ecosystem.

        I've been tinkering with the idea of "traits" -- a kind of "subatomic" styling -- for several years, but never really shared it beyond colleagues. I've experimented with versions of it in Sass, CSS modules, Styled Components & React Native, and while the implementations are all a little different, the concept seems to be working well.

        I'll be talking about the concept, how it's evolved, how it relates to popular CSS-native techniques like Tachyons/Tailwind, and how you can try it out yourself!
---
