---
tags: 
  - "events"
title: "Event 1"
subtitle: "Relaunch!"
description: "Please join us at [Condé Nast](https://www.condenast.com/) with talks from these amazing speakers..."
event: 
  registerUrl: https://www.meetup.com/London-CSS-Meetup/events/260641468/
  date: "2019-05-09"
host: 
  name: "Condé Nast"
  twitter: "@condenasteng"
  website: https://www.condenast.co.uk/
  address: |
    The Adelphi,\
    1-11 John Adam St,\
    London, WC2N 6HT
  location: 
    lat: 51.5092559
    long: -0.1252801
notices:
talks: 
  - 
    speaker: 
      name: Lau González
      twitter: freezydorito
      bio: |
        Laura is a developer/villain at [The Guardian](https://www.theguardian.com/)
    presentation: 
      title: Absolute unit
      content: |
        Laura walks us through CSS units old and new in our opening Lightning talk
  - 
    speaker: 
      name: Cassie Evans
      twitter: cassiecodes
      bio: |
        Cassie is passionate about web animation, SVG and testing the limits of CSS.
        
        She is a core organiser of codebar Brighton, a non-profit initiative that runs free programming workshops to tackle the diversity gap and currently works as a Front-end Developer at [Clearleft](https://www.clearleft.co.uk).
    presentation: 
      title: Limitation breeds creativity
      content: |
        Constraints might not feel like what you want when you're trying to kickstart creativity or start a new project. But working within constraints can help you get started and provide unconventional ways around a problem.
        
        Come and see Cassie demo some of her favourite unconventional solutions.
  - 
    speaker: 
      name: Jean-Yves Perrier
      twitter: Teoli2003
      bio: |
        Jean-Yves is a member of the Developer Relations team at Mozilla where he manages programs like the [Mozilla Tech Speakers](https://events.mozilla.org/techspeakers). He is a former editor of MDN (CSS, HTML & APIs) and was its content manager until 2016.
    presentation: 
      title: Moar CSS Features?
      content: |
        In 2019 older CSS features like fonts and floats still have their place even though flexbox and grid have arrived.
        
        Jean-Yves takes us through a contemporary review of traditional approaches.
  -
    speaker:
      name: Oliver Turner
      twitter: oliverturner
      bio: | 
        Oliver is co-organiser of London CSS and builds things at the [Financial Times](https://www.ft.com/)
    presentation:
      title: When Houdini met Goldblum
      content: |
        What is Houdini? Why can't we declaratively animate linear gradients? ...and what does either of these things have to do with Jeff Goldblum?

        Get started experimenting with the capabilities of next-generation CSS and see how they can help us bring new user experiences to life on the web.

---