---
tags: 
  - "events"
  - "eventCurrent"
title: "Event 4"
subtitle: "Endless Summer"
description: |
  This time our _amazing_ speakers take us on a very human journey, an arc from the history of CSS to its new New, from the vector-sharp lines of modernity to the messy glory of experimentation and play

  Join us once more... in hyperspace!
event:
  date: "2020-09-10"
layout: "layouts/event.njk"
talks: 
  - 
    speaker: 
      name: Stephanie Eckles
      twitter: 5t3ph
      bio: |
        Stephanie Eckles is the author of http://ModernCSS.dev which provides modern solutions to old CSS problems as in-depth tutorials. She's also the creator of http://StyleStage.dev which encourages contributors to restyle the same HTML to practice their modern CSS and web design skills.

        Steph has over 13 years of webdev experience, and currently leads the design system development for a large fintech enterprise. She's an advocate for accessibility, scalable CSS, site performance, and Eleventy, and recently joined [Egghead.io](https://egghead.io/instructors/stephanie-eckles) as an instructor. Offline, she's mom to two toddler girls and enjoys baking.
    presentation: 
      title: "Style Stage and Modern CSS"
      content: |
        CSS was first available in a browser in August 1996. In 2003, Dave Shea released CSS Zen Garden as a demonstration of "what can be accomplished through CSS-based design" until submissions stopped in 2013. 
        
        Since then, not only CSS but also the tooling around it and browser support has massively improved. But... as our environment grew, so too did a gap in developer knowledge of how the CSS under their framework of choice *actually works*. 
        
        [Style Stage](https://stylestage.dev/) allows CSS practioneers at any level to revisit foundational skills while increasing their familiarity with modern CSS capabilities by restyling the same base HTML. In this talk, learn more about how Style Stage came to be and about the contributor process. You'll also pick up a few tips and tricks for creating your stylesheet submission with modern CSS.

  -
    speaker:
      name: Adam Argyle
      twitter: argyleink
      bio: |
        Adam is a bright, passionate, punk engineer with an adoration for the web who prefers using his skills for best in class UI/UX and empowering those around him. He’s worked at small and large companies, and built an app for pretty much every screen (or voice). He is capable of over-engineering, but spends lots of brain power not. 
        
        Loves CSS, loves JS, loves great UX.
    presentation:
      title: "What's New With CSS?"
      content: |
        CSS has plenty of changes and enhancements being made across browsers, specs, tools and proposals, follow along as I try to introduce each so you have a high level view of the future landscape of web styling. 
        
        From HD color and level 3.0 accessibility contrast standards, to @scroll-timeline and css grid tools, this should be a tasty CSS treat for everyone.

  -
    speaker:
      name: Cassie Evans
      twitter: cassiecodes
      bio: |
        Cassie is passionate about web animation, SVG and testing the limits of CSS.
        
        She is a core organiser of codebar Brighton, a non-profit initiative that runs free programming workshops to tackle the diversity gap and currently works as a Front-end Developer at [Clearleft](https://www.clearleft.co.uk).
    presentation:
      title: 
      content: |
        SVG's a great format for creating illustrative graphics on the web, but it can sometimes feel a bit... flat?
        
        Illustration in the real-world is gloriously messy. It's full of texture, human error, smudges, and paint splatters.
        
        Let's take a look at how we can use different SVG techniques to recreate some of this tactile 'messiness'

---

