---
tags:
  - "events"
  - "eventCurrent"
title: "Event 6"
subtitle: "Creative CSS"
description: |
  Specialists in the magical side of CSS give their insights on how they turn whimsy into code!
layout: "layouts/event.njk"
event:
  available: false
  registerUrl: ""
  date: "2021-09-09"
talks:
  -
    speaker:
      name: Julia Miocene
      twitter: julia_miocene
      bio: |
        Julia is a product designer, CSS enthusiast and pure CSS animator
    presentation:
      title: "How to make animations step by step"
      content: |
        Character animation in pure CSS? No way! Although...

        Let Julia show you how she assembles animations with characters in pure CSS, the features worth paying attention to, and some of her favourite lifehacks
  -
    speaker:
      name: Amit Sheen
      twitter: amit_sheen
      bio: |
        Amit is an experienced web developer, doing mainly front-end. Over the years he's taken part in developing dozens of advanced web/mobile applications from the ground up. Amit has a pathological curiosity about new technologies, a constant desire to learn new things, and he's always ready for a new challenge.

        Amit has been a guest speaker on a large number of meetups, talking about CSS and JavaScript, or doing some live-coding. He's also published a few articles, and his work is frequently featured on some of the most respectable websites and newsletters.
    presentation:
      title: "Getting Creative with Keyframes"
      content: |
        Working with keyframes can be difficult even if you only have one animation but the real problems begin when you have 3 objects with 5 animations, each of which has different keyframes, duration, timing-function... and yet they all need to be exactly synchronized. So how do we do that?!

        In this session Amit breaks down the thought process he uses to create animations, bringing tips and ideas from his personal experience.

        Warning: may include live coding!
  -
    speaker:
      name: George Francis
      twitter: georgedoescode
      bio: |
        George is a UI developer, writer and generative artist who loves teaching folks about creative coding!
    presentation:
      title: Generative Design with CSS Houdini
      content: |
        Learn how the mystical powers of CSS Houdini can be harnessed to create ever-unique, generative user interfaces — think random patterns, shapes, animations, and more!
---

