---
tags: 
  - "events"
  - "eventCurrent"
title: "Event 3"
subtitle: "March 2020"
description: "Please join us at [Financial Times](https://www.ft.com/) for another evening of talks and networking!"
layout: "layouts/event.njk"
event: 
  registerUrl: https://www.eventbrite.co.uk/e/london-css-march-2020-registration-95887400797
  date: "2020-03-12"
host: 
  name: "Financial Times"
  twitter: "@FT"
  website: "https://www.ft.com/"
  address: |
    1 Friday Street,\
    EC4M 9BT, London
  location: 
    lat: 51.512293
    long: -0.095915
talks: 
  - 
    speaker: 
      name: Sam Grace Sneddon
      twitter: gsnedders
      bio: |
        Sam Sneddon has spent a decade working on web browsers trying to make them better. While their work has centred on building infrastructure to help browser developers ensure interoperability of their product, they've also long been around a number of standards groups, including the CSS WG.
    presentation: 
      title: "The CSS WG in a Time Machine"
      content: |
        CSS is an imperfect language, and for all the criticism often directed at the CSS WG and browser vendors, they're not going to claim it's flawless either. 
        
        This talk will look at a variety things that probably should be different if anyone does manage to invent a time-machine.
  - 
    speaker: 
      name: Glen Maddern
      twitter: glenmaddern
      bio: |
        To be added soon
    presentation: 
      title: To be added soon
      content: |
        To be added soon

  - 
    speaker: 
      name: Rowan Manning
      twitter: rowanmanning
      bio: |
        To be added soon
    presentation: 
      title: To be added soon
      content: |
        To be added soon
---
