---
title: Events
layout: layouts/base.njk
tags: pages
---

<header class="content__header">
  <h1 class="title page__title">
    {{title}}
  </h1>
</header>

<div class="page__content">
  <div class="events">
  {%- for event in collections.events -%}
    <a class="title content__hero" href="{{event.url}}">
      <h2 class="content__hero__caption">
        <span>{{event.data.title}}:</span>
        <em>{{event.data.subtitle}}</em>
      </h2>
      <time class="content__hero__date" datetime="{{event.data.event.date}}">{{event.data.event.date | date}}</time>
    </a>
  {%- endfor -%}
  </div>
</div>