---
title: Puppeteer
description: "Load additional resources for Chrome running on Linux"
layout: layouts/base.njk
permalink: /events/puppeteer.html
---

<link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i&display=swap" rel="stylesheet"> 

<style>
h3 {
  font-weight: 700;
}

.title, 
.subtitle {
  font-family: Lato, sans-serif;
}

.content__hero__caption {
  font-weight: 700;
}
</style>

{% from "partials/event-header.njk" import eventLink  %}

<header class="content__header">
  <h1 class="title page__title">
    {{title}}
  </h1>
</header>

<div class="page__content">
  <div class="events">
  {%- for event in collections.events -%}
    {{eventLink(event.data.title, event.data.subtitle, event.url, event.data.event)}}
  {%- endfor -%}
  </div>
</div>