---
title: Puppeteer
description: "Load additional resources for Chrome running on Linux"
permalink: /events/puppeteer.html
---

{% extends "layouts/event-listing.njk" %}

{% block extras %}
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/puppeteer.css">
{% endblock %}

{% block footer %}
<script type="module" src="/js/puppeteer.js"></script>
{% endblock %}