{
  "globals": {
    "registerPaint": true
  },
  "env": {
    "browser": true,
    "node": true,
    "cypress/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["cypress"],
  "extends": ["eslint:recommended", "plugin:cypress/recommended"]
}
