{
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "no-descending-specificity": null, 
    "selector-nested-pattern": "^&",
    "selector-pseudo-class-blacklist": ["hover"],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["enter"]
    }]
  }
}
