---
tags: pages
title: Anonymous report
description:
  London CSS is dedicated to a harassment-free event for everyone. Please use this form to contact us.
layout: layouts/base.njk
eleventyExcludeFromCollections: true
content: |
  ## Anonymous report

  London CSS is dedicated to a harassment-free event for everyone. If you'd like to give feedback anonymously about a situation please use the form bellow. 
  
  We won’t be able to follow up with you directly, but we will fully investigate and take whatever action we deem appropriate to prevent a recurrence.

---

{% include "partials/anonymous-contact-form.njk" %}

