---
title: Anonymous report
description: Contact us in the event of a violation of our Code of Conduct
eleventyExcludeFromCollections: true
---

<header class="content__header">
  <h1 class="title page__title">
    {{ title }}
  </h1>
</header>

<article class="bg copy page__content page__content--stretch">
  <p>London CSS is committed to providing a harassment-free event for everyone. If you'd like to give feedback anonymously about a situation please use the form below.</p>
  <p>We won’t be able to follow up with you directly, but we will fully investigate and take appropriate action to prevent a recurrence.</p>

  <form
    class="form form--stretch"
    name="coc-report"
    method="POST"
    netlify-honeypot="slip"
    data-netlify="true"
    action="/anonymous-report-success"
  >
    <label for="slip" class="hidden">
      <input id="slip" name="slip" />
    </label>

    <label for="report">Message:</label>
    <textarea id="report" name="report" required="true"></textarea>

    <button class="title register">
      <span class="register__label">Send</span>
      <svg class="icon" role="img">
        <use href="#icon-chevron-right"></use>
      </svg>
    </button>
  </form>
</article>


