---
title: Anonymous report
description: "Your form was successfully submitted"
eleventyExcludeFromCollections: true
---
<header class="content__header">
  <h1 class="title page__title">
    {{ title }}
  </h1>
</header>

<article class="bg copy page__content">
  <p>Your report was successfully submitted.</p>
  <p>Thank you for letting us know.</p>
</article>

