---
title: Hosting
tags: pages
description: Notes on hosting London CSS
layout: layouts/base.njk
content: |
  If you're reading this then thank you very much for your interest in hosting us! Here are the things we'll need from you to ensure a successful evening...

  ## Food and drink

  We ask hosts to provide:…

  - Food for 80-100 people.\
    Please include some vegetarian options, as well as options for people who are gluten-intolerant and vegan.

  - Drinks: at least soft drinks and access to water for everyone.

  ## Audio/Visual:

  - Most speakers use devices that can output to HDMI or Thunderbolt. If the
    speakers' devices have special requirements, we'll make sure this is
    communicated and sorted in advance of the day. 
  - A power outlet near where the speaker will be standing is also useful.
  - Microphones.
  - If you can video the event, that's awesome but not a requirement.
  - Audio support is not usually a requirement. Should our speakers need audio we will contact you well in advance.

  ## Space

  - Space to sit 80 to 100 people. 
  - Accessible by wheelchair (please let us know accessibility information). 
  - Space should be set up theatre-style, with seating facing a screen or projector.
  
  ## Attendance

  We will provide you with a full list of attendees in advance; please let us know if you will require attendees to show ID and what documents are
  acceptable.

  Please note that we expect everyone involved and/or participating in London CSS to abide by our [Code of Conduct](/code-of-conduct/).

  ## Schedule

  We ask that the room be set up by 6:15pm on the night of the meet-up. Our
  organisers will arrive 5:30 - 6:00pm to help get things set up and assist with any additional logistics.

  The talks start at 7pm, break for half an hour at 8pm and end at 9:30pm. 

  We highly recommend holding half the refreshments in reserve for the long break (which is to allow networking and discussion without pressure to go to the pub afterwards).
---

{% include "partials/longform.njk" %}