---
layout: layouts/base.njk
tags: pages
title: Newsletter unsubscribed
description: "You have been unsubscribed."
eleventyExcludeFromCollections: true
---
<header class="content__header">
  <h1 class="title page__title">
    {{ title }}
  </h1>
</header>

<article class="bg copy page__content">
  <p>We're sad to see you go! You can subscribe again anytime you wish. Thank you for supporting our community.</p>
</article>

