---
layout: layouts/base.njk
tags: pages
title: Newsletter subscription
description: "Thanks for signing up to our newsletter."
eleventyExcludeFromCollections: true
---
<header class="content__header">
  <h1 class="title page__title">
    {{ title }}
  </h1>
</header>

<article class="bg copy page__content">
  <p>Thanks for signing up to our newsletter! Thank you for supporting our community.</p>
  <p>We will only contact you with updates regarding our community and events.</p>
</article>

