---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all -%}
{% if not item.data.ignore -%}
  <url>
    <loc>https://londoncss.dev{{ item.url }}</loc>
    <lastmod>{{ item.date }}</lastmod>
    <changefreq>{{ item.data.changefreq }}</changefreq>
    <priority>{{ item.data.priority }}</priority>
  </url>
{% endif -%}
{% endfor -%}
</urlset>