h3 {
  font-weight: 700;
}

.title,
.subtitle {
  font-family: Lato, sans-serif;
}

.content__hero.content__hero--card {
  height: 360px;
  padding: 0;
  font-weight: 700;

  & a {
    padding: 1rem;
    background: #000c;
  }

  & .faded {
    opacity: 1;
    color: #59585a;
  }
}

.content__hero__caption {
  margin-top: 0;
  font-weight: 700;
}

#event-1 {
  --extra-confettiNumber: 140;
  --extra-confettiWeightVariance: 8;
  --extra-confettiLengthVariance: 10;

  background-image: paint(extra-confetti);
}

#event-2 {
  --randots-tile-size: 2;
  --randots-fill-color: #7ac7ff;
  --randots-starting-alpha: 0.0125;
  --randots-alpha-increment: 0.00125;
  --randots-starting-probability: 0.000625;
  --randots-probability-increment: 0.0025;

  --lines-tile-size: 48;
  --lines-color: #f0f;
  --lines-weight: 4;
  --lines-probability: 0.25;
  --lines-direction: 0;
  --lines-crosshatch: 1;

  --circles-tile-size: 32;
  --circles-colors: #e59eff #0094ff #ff8a7f;
  --circles-amplitude: 2.25;
  --circles-blend-mode: multiply;

  background-image: paint(circles);
}

#event-3 {
  --extra-sparkleNumber: 200;
  --extra-sparkleHue: 180;
  --extra-sparkleWidthVariance: 20;
  --extra-sparkleHeightVariance: 20;
  --extra-sparkleWeightVariance: 6;

  background-image: paint(extra-sparkles);
}

#event-4 {
  --extra-confettiNumber: 140;
  --extra-confettiWeightVariance: 8;
  --extra-confettiLengthVariance: 10;

  background-image: paint(extra-confetti);
}

#event-5 {
  --circles-tile-size: 24;
  --circles-colors: #12c2e9 #c471ed #f64f59;
  --circles-amplitude: 2.25;
  --circles-blend-mode: multiply;

  background-image: paint(circles), linear-gradient(lemonchiffon, cornflowerblue);
}

#event-6 {
  --fleck-seed: 123453;
  --fleck-count: 680;
  --fleck-size-base: 4px;
  --fleck-color-1: #e8ad3c;
  --fleck-color-2: #a96c1a;
  --fleck-color-3: #d7b54e;
  --fleck-color-4: #e2b84b;
  --fleck-color-5: #d6cdc4;

  --background-color: #1b1918;

  background-image: paint(fleck);
}