---
layout: layouts/base.njk 
---

<header class="content__header">
</header>

<article class="bg copy page__content">
  {%- for wallpaper in collections.wallpapers -%}
    <div>
      <iframe width="600px" height="244px" src="{{wallpaper.url}}" frameborder="0"></iframe>
      <p>{{wallpaper.data.title}}</p>
    </div>
  {%- endfor -%}
</article>


