{% macro eventCaption(title, subtitle, event) %}
<h2 class="content__hero__caption">
  <span>{{title}}:</span>
  <em>{{subtitle}}</em>
</h2>
<time class="content__hero__date" datetime="{{event.date}}">{{event.date | date}}</time>
{% endmacro %}

{% macro eventTitle(title, subtitle, event) %}
<div class="title content__hero">
  {{eventCaption(title, subtitle, event)}}
</div>
{% endmacro %}

{% macro eventLink(title, subtitle, url, event) %}
<a class="title content__hero content__hero--card" 
   href="{{url}}" 
   data-event={{ title | slug }}
>
  {{eventCaption(title, subtitle, event)}}
</a>
{% endmacro %}

{% macro eventHeader(title, subtitle, description, event) %}
<header class="content__header">
  {{ eventTitle(title, subtitle, event) }}
  <div class="copy bg">
    {{description | markdown | safe}}

    {% if event.date | isFuture %}
      {% if event.registerUrl %}
        <a class="title register" href="{{event.registerUrl}}">
          <span class="register__label">Register for tickets</span>
          <svg class="icon" role="img">
            <use href="#icon-chevron-right"></use>
          </svg>
        </a> 
      {% else %}
        <p class="title register--inactive">
          Registrations open soon
        </p>
      {% endif %}
    {% endif %}
  </div>
</header>
{% endmacro %}
