{% macro header(description, event) %}
<header class="content__header">
  <div class="title content__hero">
    <h2 class="content__hero__caption">
      <span>{{event.title}}:</span>
      <em>{{event.subtitle}}</em>
    </h2>
    <time class="content__hero__date" datetime="{{event.date}}">{{event.date | date}}</time>
  </div>
  <div class="copy bg">
    {{description | markdown | safe}}

    {% if event.canRegister %}
      <a class="title register" href="{{event.register}}">
        <span class="register__label">Register for tickets</span>
        <svg class="icon" role="img">
          <use href="#icon-chevron-right"></use>
        </svg>
      </a>
    {% else %}
      <p class="title register--inactive">
        Registrations open soon
      </p>
    {% endif %}
  </div>
</header>
{% endmacro %}
