<template id="super-mannerist">
  {%- set css_supermannerist -%}
    {% include "css/supermannerist.css" %}
  {%- endset %}
  <style>
    {{css_supermannerist | postcss | safe}}
  </style>
  <div class="sm">
    <div class="sm__container">
      <div class="sm__stripes sm__stripes--a">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
      </div>
      <div class="sm__stripes sm__stripes--b">
        <i></i>
        <i></i>
      </div>
      <div class="sm__stripes sm__stripes--c">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
      </div>
      <div class="sm__stripes sm__stripes--d">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
      </div>
    </div>
  </div>
</template>