<div class="sm">
  <div class="sm__container">
    <div class="sm__stripes sm__stripes--a"></div>
    <div class="sm__stripes sm__stripes--b"></div>
    <div class="sm__stripes sm__stripes--c"></div>
    <div class="sm__stripes sm__stripes--d"></div>
  </div>
</div>